<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms And Conditions</title>
    <link rel="stylesheet" href="/p/index.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6318/6318040.png">

</head>

<body>
    <section class="wrapper">

        <h1>
            Terms of Service
        </h1>

        <div>
            <p>
                Welcome to <a href="https://chatweber.com">ChatWeber</a>
                's chat website. By accessing or using our website, you agree to be bound
                by the following terms and conditions (the "Terms of Service"). If you do not agree to these terms,
                please do not use our website.

            </p>
            <p>
                Use of the Website

            </p>
            <ul>
                <li>
                    You must be at least 13 years of age to use our website.

                </li>
                <li>
                    You may not use our website for any illegal or unauthorized purpose.

                </li>

                <li>
                    You may not use our website to send spam, phishing emails, or any other unsolicited messages.

                </li>

                <li>
                    You may not use our website to transmit any viruses, worms, or any other harmful code.

                </li>

            </ul>


            <p>
                User Content

            </p>


            <ul>
                <li>
                    You are solely responsible for any text, images, audio, or other content that you post or transmit
                    through our website (“User Content”).

                </li>


                <li>
                    By posting or transmitting User Content, you grant <a href="https://chatweber.com">ChatWeber</a>
                    the right to use, copy,
                    display, and distribute your User Content in connection with the operation of the website.

                </li>




                <li>
                    You represent and warrant that you own or have the right to use and authorize <a
                        href="https://chatweber.com">ChatWeber</a>
                    to
                    use your User Content.

                </li>
            </ul>

            <p>
                Do's 
            </p>
            <ul>
                <li><b>Think before sharing content with strangers. </b> You should know that when you share
                    something on the internet it can stay on the web for a lifetime.
<br><br>
                    You should not share anything in a random chat that
                    you later regret sharing. If you don't a thing about yourself on the Internet do shot share
                    them. The internet moves so quickly that by the time you realize that you don't want it out
                    there,
                    it's already too late.
<br><br>
                    IF you share it on the web you should keep in mind that it can't be removed
                    from the Internet completely. Many people on the insert think that they are completely
                    anonymous to the starter they are talking with but there are many ways in which someone can find
                    information about you.
<br><br>
                    There are many of information about the users on the Internet that are
                    available on the web and anyone with the technical knowledge loaded can find know about it, IP
                    address
                    and your internet service providers are some examples.
<br><br>

                    You should take precautions while
                    using the internet or sharing some information about yourself with the state you are talking to
                    or on the web.</li>
                <li><b>Use site under the parental supervision. </b> If you are below the age of 18 then it
                    highly recommended that you should use this random chat under the supervision of your parent or
                    a
                    adult.
<br><br>
                    You should take the advice of your parents before sharing any content with a stranger.
                    As we have mentioned earlier if you don't want any content not present on the site then
                    please don't share it with strangers while talking.</li>
                <li><b>Read terms and community guidelines.</b> Our site has clear community guidelines that
                    every user on the site should read line by line to understand and know what is
                    acceptable and what is not acceptable on the site so that you can use the random chat in a
                    better way. You can use another reference site to know about online behavior.
<br><br>
                    It is highly
                    recommended that you should not share your photographs or videos as someone can use use
                    your pictures for bad purposes or use them to harm you.
<br><br>
                    In case of any inappropriate behavior or
                    The harassment you should know what to do and how to deal with this type of cyberbullying. If
                    someone is teasing you by using your pictures you should report that account.</li>
                <li><b>Know the reason for using site. </b> There are many ways reasons for using the ChatWeber
                    random chat site.

                    Random chat with strangers, make new friends, share your experience, learn
                    about the experiences of others, show your talking, and many more. Once you know why
                    are you using the site you can easily decide whether this site is going to achieve your
                    goal or not.
<br><br>
                    This will also help you manage your screen time on the site.</li>
                <li><b>Learn about site. </b> As there are many sites on the Internet it can be hard to find the
                    right site where you can use talk with strangers.
<br><br>
                    If you want to stay safe and ensure online
                    the safety you need to learn about the site and know what can do or share on the site.
<br><br>
                    If
                    you know a site used to talk with strangers so that you can know the existing potential dangers
                    of the site and try to avoid them. You can use learn more about it by browsing the inter and
                    finding useful resources.</li>

                <li><b>Understand online behavior before random chat with strangers. </b> You should be aware of the
                    online
                    manner and behaviors. You should talk with the other user in the appropriate language and should
                    not
                    tease anyone and should not share your information with the stranger or ask for their personal
                    information.
<br><br>
                    You should try to avoid talking about sensitive topics about yourself that you
                    don't want anyone else or someone who is a stranger to. You should not try to make
                    fun of other users' race, gender, country, background, or any other characteristics.
<br><br>
                    You should
                    know the manner of communication while random chatting with strangers in a random chat and if
                    someone
                    tries to
                    get your
                    personal information like your location, your school, your photographs, payment details
                    , or any other personal information that you don't should not share with anyone then you should
                    report that user. Keep your data safe while random chatting with strangers and don't click on
                    any
                    link
                    sent by strangers or open a site someone is asking you to open while random chat with strangers.
                </li>
                <li><b>Make site user friendly. </b>You can find a fine number of online user who is willing
                    to engage in a discussion with you on various topics. Don't feel shy while talking to
                    strangers and start your conversation by saying "hi".
<br><br>
                    You should be quick to reply to the messages
                    send by the strangers while talking because nobody likes to wait for more than a few seconds to
                    the
                    reply. There are many other ways in which you can start a conversation with strangers one way is
                    starting the conversation by asking questions about them because people live to talk about
                    themselves and sometimes people can answer in a long and explanatory way and in this way you
                    can know them better and get a better idea about their character.
<br><br>
                    You should not feel shy to
                    introduce yourself to the stranger you are talking with but keep in mind that you should not
                    tell
                    hem about your personal information or things that you don't want to tell. Try to keep your
                    talks
                    a small as long conversation about a single topic can make the stranger feel bored and probably
                    a stranger can skip you in the middle of the conversation.
<br><br>
                    If you feel that the stranger is trying to
                    spam or doesn't share common interests with you then you can click skip the user immediately but
                    try to make it friendly by saying "Have a nice day!", "Have a great rest of your day!", "It was
                    a pleasure talking with you.", "Speak to you then.", "Goodbye, and stay safe". Also, do not try
                    to
                    insult or be rude to the other user as they are also people using the internet just like you.
                </li>
                <li><b>Be selective. </b> You should be selective when finding a stranger to talk with on the site.
                    If
                    If you think your is not genuine or spam then you should not talk with that user and report
                    it immediately.
<br><br>
                    Many spammers tried to make fake accounts to make false
                    statements and steal your personal information.

          <br><br>          They can do that to make someone feels embarrassed
                    or create unnecessary problems which are often illegal. Don't make strangers your friends too
                    quickly
                    and share your social media account or your phone numbers. </li>
                <li><b>Enjoy. </b>While using the random chat site remember to have lots of fun. The site is
                    all about meeting amazing new people, making new friends, and having lovely conversations with
                    them.
                </li>
            </ul>
<p>
    Don'ts
</p>
<ul>
    <li><b>Voilication of the laws. </b>While using the ChatWeber talk with strangers site you should
        comply with all the local, national and international laws while using this site. You
        should know that any type of content, activity, or conduct featuring, encouraging, offering, or
        soliciting illegal activity or content is strictly prohibited on this site. We reserve the
        right to report any such violations to law enforcement.</li>

    <li><b> Streaming violence and threats. </b>Threats of violence or threats to harm others are
        strictly prohibited.

        This includes threats to physically harm others, attempts to intimidate
        others, terroristic threats, threats to obtain or disclose personal information or private
        content of others or threats intended to force another user to engage in unwanted or
        inappropriate conduct.</li>
    <li><b>Hateful conduct and harassment. </b> Hateful languages or acts that attacks the
        characteristic
        like the race of the user, ethnicity of the user, gender, sexual-oriented speech or acts,
        disability
        or national origin is prohibited, or any words or acts that can be considered hateful or
        offensive said or dome while talking with Stranger is not acceptable on our site.
<br><br>
        Also,
        Harassment of any kind, including without limitation unwelcome sexual advances and
        solicitations, malicious false reporting of other users, and personal attacks, are prohibited.
    </li>
    <li><b> Sexually explicit conduct and content. </b>Any type of content including text, audio, and
        video that contains any type of inappropriate content like shouting the private part or content
        that is sexually Explicit is prohibited on the site.
<br><br>
        We don't censor the content that the user
        generate on this site but any user can report in case of any type of violation the
        community guidelines.
<br><br>
        Also, any type of content that conducts threats or promotes sexual violence or
        exploitation is completely prohibited and may be reported to law enforcement. </li>
    <li><b>Conduct or content involving minors. </b>All conduct or content that exploits sexualizes, or
        endangers the safety of minors in any way is strictly prohibited on any of the Services. You
        must be 18+ to use this site and the account holder is resalable for everything one by that
        account.
        If you find a user who is under 18 then you can report it.</li>
    <li><b>Asking or sharing personal information. </b>All the users on the site should respect the
        privacy of the other user on the site and don't ask for their personal information like
        their location, payment information, or any other sensitive information.
<br><br>
        Also, you should not try
        to obtain or reveal private personal information about individuals without their permission.
    </li>
    <li><b>Self-Harm And Animal Cruelty. </b>Conduct or content that glorifies, encourages, or promotes
        self-harm is prohibited. Conduct or content that involves or promotes harm or cruelty to animals
        is prohibited.</li>
    <li><b>Using Bots or advertisement. </b>This site should not be used by any user to promote or
        market any goods or services. Also, using bots of any kind for the advertisement or
        promotion of any good or service is prohibited. Don't share any links and images with the users
        on
        the site related to advertisements or promotion of products or services in random chat.</li>
    <li><b>Don't be rude. </b>Being rude to other users while a random chat is not allowed on this site.
        You can be banned permanently from the site if some users report you for talking
        inappropriately.
    </li>
    <li><b>No Alcohol and Drugs.</b> You should not consume or promote the consumption of any
        intoxicating item while a video random chat or text chat.</li>
    <li><b>No Blackmailing. </b>Don't try to Blackmail any user on the site while a random chat and if
        you blackmail any user that you meet on this site, you will be permanently banned from the
        site and reported to law enforcement </li>
</ul>
</ul>
            <p>
                Proprietary Rights

            </p>


            <p>
                The website and its entire contents, features and functionality (including but not limited to all
                information, software, text, displays, images, video and audio, and the design, selection, and
                arrangement thereof), are owned by <a href="https://chatweber.com">ChatWeber</a>
                , its licensors or other providers of such
                material and are protected by United States and international copyright, trademark, patent, trade secret
                and other intellectual property or proprietary rights laws.

            </p>


            <p>
                Disclaimer of Warranties

            </p>




            <p>
                Our website is provided on an "as is" and "as available" basis.

            </p>
            <p>
                <a href="https://chatweber.com">ChatWeber</a>
                makes no representations or warranties of any kind, express or implied, as to the
                operation of the website or the information, content, materials, or products included on the website.

            </p>

            <p>
                <a href="https://chatweber.com">ChatWeber</a>
                does not warrant that the website, its servers, or any email sent from ChatWeber are free of viruses or other harmful components.

            </p>
            <p>
                Limitations of Liability

            </p>
            <p>
                <a href="https://chatweber.com">ChatWeber</a>
                will not be liable for any damages of any kind arising from the use of this website,
                including, but not limited to direct, indirect, incidental, punitive, and consequential damages.

            </p>
            <p>
                Indemnification

            </p>
            <p>
                You agree to indemnify and hold <a href="https://chatweber.com">ChatWeber</a>
                , its subsidiaries, affiliates, officers, agents, and
                other partners and employees, harmless from any loss, liability, claim, or demand, including reasonable
                attorneys' fees, made by any third party due to or arising out of your use of the website, your
                violation of these terms, or your violation of any rights of another.

            </p>

            <p>
                Governing Law

            </p>
            <p>
                These terms of service and any separate agreements whereby we provide you Services shall be governed by
                and construed in accordance with the laws of the State of United Kingdom.

            </p>
            <p>
                Changes to the Terms of Service

            </p>
            <p>
                We reserve the right to make changes to these terms at any time.

            </p>
            <p>
                Your continued use of the website following any changes to these terms will mean you accept those
                changes.

            </p>
            <p>
                Contact Us

            </p>
            <p>
                If you have any questions or concerns about these terms, please contact us at chatweber@gmail.com

            </p>


        </div>

    </section>

</body>


</html>